table {
    background-color: transparent;
}
th {
    font-size: 1.4em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #FFF;
}
tr:nth-child(even) {
	color: #000;
	background-color: #EAF2D3;
}
.ias-noneleft{font-style: italic;}