<object data="station-clock.svg" type="image/svg+xml" style="padding: 40px; background-image: url(&quot;Siemens.jpg&quot;); background-size: 100% 100%;
    background-repeat: no-repeat;"
        width="200" height="200">
  <param name="dial"               value="din 41091.4"/>
  <param name="hourHand"           value="din 41071.1"/>
  <param name="minuteHand"         value="din 41071.1"/>
  <param name="secondHand"         value="din 41071.1"/>
  <param name="minuteHandBehavior" value="stepping"/>
  <param name="secondHandBehavior" value="sweeping"/>
  <param name="secondHandStopToGo" value="yes"/>
  <param name="secondHandStopTime" value="1.5"/>
  <param name="backgroundColor"    value="rgba(0,0,0,0)"/>
  <param name="dialColor"          value="rgb(40,40,40)"/>
  <param name="hourHandColor"      value="rgb(20,20,20)"/>
  <param name="minuteHandColor"    value="rgb(20,20,20)"/>
  <param name="secondHandColor"    value="rgb(160,50,40)"/>
  <param name="axisCoverColor"     value="rgb(20,20,20)"/>
  <param name="axisCoverRadius"    value="7"/>
  <param name="updateInterval"     value="50"/>
</object>

<object id="station-clock" data="station-clock.svg" type="image/svg+xml" style="padding: 40px; background-image: url(&quot;Siemens.png&quot;);" height="200" width="200">
            <param name="dial" value="din 41091.1">
            <param name="hourHand" value="siemens">
            <param name="minuteHand" value="siemens">
            <param name="secondHand" value="din 41071.2">
            <param name="minuteHandBehavior" value="stepping">
            <param name="secondHandBehavior" value="swinging">
            <param name="secondHandStopToGo" value="yes">
            <param name="secondHandStopTime" value="1.5">
            <param name="backgroundColor" value="rgba(0,0,0,0)">
            <param name="dialColor" value="rgb(40,40,40)">
            <param name="hourHandColor" value="rgb(20,20,20)">
            <param name="minuteHandColor" value="rgb(20,20,20)"> 
            <param name="secondHandColor" value="rgb(160, 50, 40)">
            <param name="axisCoverColor" value="rgb(20,20,20)">
            <param name="axisCoverRadius" value="7">
            <param name="updateInterval" value="50">
          </object>