<?php echo $this->doctype();
    $sessionContainer = new \Zend\Session\Container('locale');
?>
<html lang="<?php echo $sessionContainer->language; ?>">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('ZF2 '. $this->translate('Skeleton Application'))->setSeparator(' - ')->setAutoEscape(false) ?>
        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <?php 
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
            ->prependStylesheet($this->basePath() . '/css/custom.css') 
            ->prependStylesheet($this->basePath() . '/css/style.css')
            ->prependStylesheet($this->basePath() . '/css/bootstrap-theme.min.css')
            ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css') 
            ->prependStylesheet($this->basePath() . '/css/style.min.css') 
	?>
        <?php echo $this->headScript()
            ->prependFile($this->basePath() . '/js/bootstrap.min.js')
            ->prependFile($this->basePath() . '/js/jquery-ias.min.js')
            ->prependFile($this->basePath() . '/js/jquery-ui.js')
            ->prependFile($this->basePath() . '/js/jquery.min.js')
            ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'gt IE 9',))
            ->prependFile($this->basePath() . '/js/html5shiv.js',   'text/javascript', array('conditional' => 'lt IE 9',))
        ; 
        ?>

    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $this->url('home') ?>"><img src="<?php echo $this->basePath('img/zf2-logo.png') ?>" alt="Zend Framework 2"/>&nbsp;<?php echo $this->translate('Skeleton Application') ?></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class=""><a href="<?php echo $this->url('home') ?>"><?php echo $this->translate('Home') ?></a></li>
                        <li id="bg">
                            <a href="<?php echo $this->url('album', array('action' => 'lang', 'id' => 1)); ?>">
                                <img src="<?php echo $this->basePath()?>/img/blank.gif" class="flag-bg"/> 
                                <?php echo 'Български език'; ?>
                            </a>
                        </li>
                        <li id="en">
                            <a href="<?php echo $this->url('album', array('action' => 'lang', 'id' => 2)); ?>">
                                <img src="<?php echo $this->basePath()?>/img/blank.gif" class="flag-uk"/> 
                                <?php echo 'English';?>
                            </a>
                        </li> 
                        <li id="es">
                            <a href="<?php echo $this->url('album', array('action' => 'lang', 'id' => 3)); ?>">
                                <img src="<?php echo $this->basePath()?>/img/blank.gif" class="flag-es"/> 
                                <?php echo 'Espagñol';?>
                            </a>
                        </li>
                        <li>
                            <a href="<?php echo $this->url('album', array('action' => 'logout')) ?>" title="<?php echo $this->translate('Detect language based on browser prefered languages') ?>">
                                <span class="glyphicon glyphicon-log-out"></span>
                                <?php echo $this->translate('Logout') ?>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <?php echo $this->content; ?>
            <hr/>
            <footer>
                <p>&copy; <?php echo date('Y')." ". $this->translate('by Zend Technologies Ltd.')." ";  echo $this->translate('All rights reserved.') ?></p>
            </footer>
        </div>
        <?php echo $this->inlineScript() ?>
        <script>$("#<?php echo $sessionContainer->language;?>").addClass("active");</script>
    </body>

</html>
