<?php
    $title = $this->translate('Add new album');
    $hidenel = $this->translate('Add an artist..');
    $this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title);?></h1>
<?php 
    $this->form->get('submit')->setValue($this->translate('Add'));
    $form->setAttribute('action', $this->url('album', array('action' => 'add')));
    $form->prepare();
    echo $this->form()->openTag($form);
    echo $this->formHidden($form->get('id'));
    echo $this->formHidden($form->get('ord'));
    echo $this->formRow($form->get('artist'));
    echo $this->formRow($form->get('title'));
?>
<i class="glyphicon glyphicon-plus white" ></i>
<?php 
    echo $this->formSubmit($form->get('submit'));
    echo $this->form()->closeTag();
?>
<style>
input#submitbutton{
    padding-left: 25px;
    margin-left: 0px;
    height:30px
}
.glyphicon-plus{    
    z-index: 5;
    position: relative;
    left: 5px;
    top: 27px;
}
.white, .white a {
  color: #fff;
}
</style>