<?php

$title = $this->translate('Delete album');
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>

<p><?php echo $this->translate('Are you sure that you want to delete');?>
    "<?php echo $this->escapeHtml($album->title); echo '" '.$this->translate('by');?>
    "<?php echo $this->escapeHtml($album->artist); ?>"?
</p>
<?php
$url = $this->url('album', array(
    'action' => 'delete',
    'id' => $this->id,
    ));
?>
<form action="<?php echo $url; ?>" method="post">
    <div>
        <input type="hidden" name="id" value="<?php echo (int) $album->id; ?>" />
        <button type="submit" name="del" value="Yes"><?php echo $this->translate('Yes')?></button>
        <button type="submit" value="No"><?php echo $this->translate('No')?></button>
    </div>
</form>