<?php
$title = $this->translate('My albums');
$this->headTitle($title);
$sessionContainer = new \Zend\Session\Container('locale');
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
    <a  class="btn btn-info btn-sm" href="<?php echo $this->url('album', array('action' => 'add')); ?>">
        <i class="glyphicon glyphicon-plus"></i>&nbsp;
        <?php echo $this->translate('Add new album'); ?>
    </a>
</p>

<table class="table" id="asort">
    <thead>
        <tr>
            <th><?php echo $this->translate('#') ?></th>
            <th><?php echo $this->translate('Artist') ?></th>
            <th><?php echo $this->translate('Title') ?></th>
            <th><?php echo $this->translate('Actions') ?></th>

        </tr>
    </thead>
    <tbody>
        <?php foreach ($this->paginator as $album) : ?>
            <tr id="sortArray_<?php echo $this->escapeHtml($album->id); ?>">
                <td><?php echo $this->escapeHtml($album->ord); ?></td>
                <td><?php echo $this->escapeHtml($album->artist); ?></td>
                <td><?php echo $this->escapeHtml($album->title); ?></td>
                <td>
                    <a class="btn btn-success btn-sm" href="<?php echo $this->url('album', array('action' => 'edit', 'id' => $album->id)); ?>">
                        <i class="glyphicon glyphicon-edit"></i>&nbsp; 
                        <?php echo $this->translate('Edit') ?>
                    </a>
                    <a class="btn btn-danger btn-sm" href="<?php echo $this->url('album', array('action' => 'delete', 'id' => $album->id)); ?>">
                        <i class="glyphicon glyphicon-trash"></i>&nbsp;
                        <?php echo $this->translate('Delete') ?>
                    </a>
                
		</td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>

<center>
<a class="btn btn-warning btn-sm" href="<?php echo $this->url('album', array('action' => 'nopages')); ?>">
    <i class="glyphicon glyphicon-sort"></i>&nbsp;
    <?php echo $this->translate('Reorder') ?>
</a>
</center>
<?php
echo $this->paginationControl(
    $this->paginator,
    'sliding',
    array('partial/paginator.phtml', 'Album'),
    array('route' => 'album')
);
?>
<script>
    var ias = $.ias({
      container: "tbody",
      item: "tr",
      pagination: "#pagination",
      next: ".next a",
      delay: 1000 
    });

    ias.extension(new IASSpinnerExtension({src: '<?php echo $this->basePath() . "/img/sand-16.gif" ?>'}));
    ias.extension(new IASNoneLeftExtension({text: '<?php echo $this->translate("There are no more pages left to load.") ?>'}));
    ias.on('loaded', function() {
        p = $( "tbody > div" ).detach();    
        p.insertAfter( "table" );
    })

</script>