<?php

    $title = $this->translate('My albums');
    $this->headTitle($title);
    $sessionContainer = new \Zend\Session\Container('locale');
?>
<style>
#sort{margin: 0 auto;}
@-moz-document url-prefix() {       
    #sort {
        position: relative;
        top: 20px;
        left: -88px;
    }
}

.ui-sortable-handle:hover{
    cursor: grab;
    cursor: -webkit-grab; 
    cursor: -moz-grab;
}
</style>
<script>
$(document).ready(function(){
    location.replace('#sort');
    var fixHelper = function(e, ui){
        ui.children().each(function(){
            $(this).width($(this).width());
        });
        return ui;
    };
    $(function(){
        $("#asort tbody").sortable({
            helper: fixHelper,
            start: function(a, b){
                clone = $(b.item[0].outerHTML).clone()
            },
            placeholder: {
                element: function(a, b){
                    return $('<tr class="dragged">' + a[0].innerHTML + '</tr>')
                },
                update: function(){ return }
            },
            update: function(){
                $('#sort').removeAttr('disabled');var i=0;
                    $('#sort').addClass("btn btn-success btn-sm");
                    $('#sort').addClass("btn btn-success btn-sm");
                $("tr").each(function() {
                    $(this).children().filter('td:first-child').text(i);i++;
                });
            }
        });

        $("#asort tbody").disableSelection();
        $(".ui-sortable-handle").mousedown(function(){
            $(this).css('cursor', '-webkit-grabbing');
            $(this).css('cursor', '-moz-grabbing');
        });
        $(".ui-sortable-handle").mouseup(function() {
            $(this).removeAttr("style");
        });
    })
    $('#sort').click(function(){
        var b = $("#asort tbody").sortable("serialize");
        $.ajax({
            type: "post",
            url: "<?php echo $this->url('album', array('action' => 'order')); ?>",
            dataType: 'json',
            async: false,
            data:b,	
            success: function(a){
                if (a.status=='1'){ 
                    location.replace("<?php echo $this->basePath() . '/';?>");
                }  
            }
        })
    });
});

</script>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
    <a class="btn btn-info btn-sm" href="<?php echo $this->url('album', array('action' => 'add')); ?>">
        <i class="glyphicon glyphicon-plus"></i>&nbsp;
        <?php echo $this->translate('Add new album'); ?>
    </a>
</p>

<table class="table" id="asort">
    <thead>
        <tr>
            <th><?php echo $this->translate('#') ?></th>
            <th><?php echo $this->translate('Artist') ?></th>
            <th><?php echo $this->translate('Title') ?></th>
            <th><?php echo $this->translate('Operations') ?></th>
        </tr>
    </thead>
    <tbody>
    	<?php $i=1; foreach ($albums as $album) : ?>
        <tr id="sortArray_<?php echo $album->id; ?>">
            <td><?php echo $i; ?></td>
            <td><?php echo $this->escapeHtml($album->artist); ?></td>
            <td><?php echo $this->escapeHtml($album->title); ?></td>
            <td>
                <a class="btn btn-success btn-sm" href="<?php echo $this->url('album', array('action' => 'edit', 'id' => $album->id));
            ?>"><i class="glyphicon glyphicon-edit"></i>&nbsp; <?php echo $this->translate('Edit') ?></a>
                    <a class="btn btn-danger btn-sm" href="<?php echo $this->url('album', array('action' => 'delete', 'id' => $album->id));
            ?>"><i class="glyphicon glyphicon-trash"></i>&nbsp;<?php echo $this->translate('Delete') ?></a>
            </td>
        </tr>
    	<?php $i++; endforeach; ?>
    </tbody>
</table>
<input id="sort" type="button" disabled value="<?php echo $this->translate('Save changes') ?>"/>